<div class="admin-page">

  <!-- Section Films -->
  <div class="films-section">
    <div class="film-actions">
      <div class="action-card">
        <button class="action-btn">Ajouter</button>
        <button class="action-btn">Modifier</button>
        <button class="action-btn">Supprimer</button>
      </div>
    </div>

    <div class="film-display">
      <div class="film-header">
        <h2>Liste des films</h2>
        <button class="toggle-btn" *ngIf="films.length > 4" (click)="toggleFilms()">
          {{ showAllFilms ? 'Réduire' : 'Afficher tout' }}
        </button>
      </div>

      <div *ngIf="displayedFilms.length === 0">
        <p>Aucune nouveauté cette semaine !</p>
      </div>

      <div class="film-grid">
        <div class="film-card" *ngFor="let film of displayedFilms">
          <a [routerLink]="['/films']">
            <img [src]="film.image" [alt]="film.titre" />
          </a>
          <p>{{ film.titre }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 2ème moitié  -->
  <div class="admin-tables">
    <!-- Salles -->
    <div class="table-section">
      <div class="table-header">
        <h2>Salles</h2>
        <button class="add-btn-salle">Ajouter</button>
      </div>
      <table>
        <thead>
        <tr>
          <th>Nom</th>
          <th>Capacité</th>
          <th>Ville</th>
          <th>Qualité</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let salle of salles">
          <td>{{ salle.nom }}</td>
          <td>{{ salle.capacite }}</td>
          <td>{{ salle.cinema }}</td>
          <td>{{ salle.qualite }}</td>
          <td>
            <button class="tiny-btn">✏️</button>
            <button class="tiny-btn">🗑️</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Employés -->
    <div class="table-section">
      <div class="table-header">
        <h2>Employés</h2>
        <button class="add-btn-employe">Ajouter</button>
      </div>
      <table>
        <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Login</th>
          <th>Email</th>
          <th>Mot de passe</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of employes">
          <td>{{ emp.nom }}</td>
          <td>{{ emp.prenom }}</td>
          <td>{{ emp.pseudo }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ '••••••••••' }}</td>
          <td>
            <button class="tiny-btn">✏️</button>
            <button class="tiny-btn">🗑️</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

