<div class="login-container">
  <h2>Connexion</h2>

  <form (ngSubmit)="onSubmit()">
    <label for="email">Adresse mail</label>
    <input type="email" id="email" name="email" placeholder="exemple@domaine.com"  [(ngModel)]="email" required />

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" placeholder="••••••••" [(ngModel)]="motDePasse" required />

    <p *ngIf="messageErreur" style="color: red; text-align: center;">
      {{ messageErreur }}
    </p>

    <button type="submit">Se connecter</button>

    <a class="forgot-link">Mot de passe oublié ?</a>

    <button class="inscription-btn" routerLink="/inscription">S'inscrire</button>
  </form>
</div>

<app-popup-message
  *ngIf="showPopup"
  [titre]="popupTitre"
  [messages]="popupMessages"
  [reponse]="popupReponse"
  (fermer)="fermerPopup()">
</app-popup-message>
