:host {
  display: block;
  padding-top: 0; // ou la hauteur exacte de ta navbar
}

.section {
  margin: 40px 20px;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--vert-logo);
}

.film-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start; //aligner les Films à gauche
  margin: 20px;
  padding-top: 20px;
}

.film-card {
  width: 180px;
  text-align: center;
  transition: transform 0.3s ease;
}

.film-card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}


.film-card:hover {
  transform: scale(1.05);
}

.film-card p {
  margin-top: 10px;
  font-weight: 500;
  color: #333;
}

.top-actions {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px 10px 20px;
}

.btn-download {
  position: relative;
  background-color: var(--vert-pastel);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.btn-download:hover {
  background-color: var(--vert-logo);
}

.icon-smartphone {
  width: 40px;
  height: 40px;
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  top: -40px; /* position au-dessus du bouton */
  right: 0; /* aligné à droite */
  white-space: nowrap;
  transition: opacity 0.2s ease;
}

/* Affichage au survol */
.btn-download:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .film-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .film-card {
    width: 100%;
  }
}

@media (max-width: 430px) {

  .film-card img {
    width: 75px;
    height: 100px;
  }

  .film-card {
    width: 50%;
    text-align: center;
  }

  .film-card p {
    font-size: 0.8rem;
  }

  .film-grid {
    gap: 15px;
    margin: 10px;
  }

  .section h2 {
    font-size: 1.4rem;
  }
}

