<div class="section">
  <h2>Nouveauté</h2>
  <div *ngIf="nouveautes.length === 0">
    <p>Aucune nouveauté cette semaine !</p>
  </div>
  <div class="film-grid">
    <div class="film-card" *ngFor="let film of nouveautes">
      <a [routerLink]="['/presentation', film.id]">
        <img [src]="film.image" [alt]="film.titre" />
      </a>
      <p>{{ film.titre }}</p>
    </div>
  </div>
</div>

<div class="section">
  <h2>Films à l'affiche</h2>
  <div class="film-grid">
    <div class="film-card" *ngFor="let film of affiches">
      <a [routerLink]="['/films']">
        <img [src]="film.image" [alt]="film.titre" />
      </a>
      <p>{{ film.titre }}</p>
    </div>
  </div>
</div>
