
<div class="pub-image">
  <a href="https://www.wwf.fr/" target="_blank" rel="noopener noreferrer">
    <img src="../../../assets/pubWWF1.jpg" alt="Publicité" class="pub-image" />
  </a>
  <a href="https://www.greenpeace.fr/" target="_blank" rel="noopener noreferrer">
    <img src="../../../assets/pubGreenpeace1.jpg" alt="Publicité" class="pub-image" />
  </a>
  <a href="https://fne.asso.fr/" target="_blank" rel="noopener noreferrer">
    <img src="../../../assets/pubEco1.jpg" alt="Publicité" class="pub-image" />
  </a>
</div>
